@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background:#6D28D9;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

p {
    font-weight: 300;
}
.main-city-card button:hover {
    background: #E0E7FF;
}
.favorite-icon {
    width: 60px;
    height: 60px;
}

.forecast-icon {
    width: 60px;
    height: 60px;
}

.search-form {
    background: linear-gradient(135deg, #A78BFA, #6D28D9);
    color: white;
}

.search-form input {
    font-size: 1rem;
}

.btn-violet {
    background-color: white;
    color: #6D28D9;
    border: none;
}

.btn-violet:hover {
    background: #E0E7FF;
}


.topbar {
    background: linear-gradient(135deg, #6D28D9, #A78BFA);
    padding: 10px 20px;
    border-radius: 0px 0px 20px 20px;
}

